{% extends "base.html" %}

{% block content %}
    <div>
        <h3>About Me</h3>
        <p class="lead" style="text-align: justify;">
            Hello! My name is Michael Fogleman. I am a Principal Software Engineer at <a href="http://www.liquid-logic.com/">Advanced Liquid Logic</a>. I love programming and am usually busy with one of many <a href="{{ url_for('projects') }}">personal projects</a>. My favorite programming language is Python, though I also have significant <a href="{{ url_for('resume') }}">experience</a> with several other languages and technologies. I like gardening, photography, '80s music, space exploration and all kinds of food.
        </p>
    </div>
    <hr>
    <h3>Featured Projects</h3>
    <div class="row-fluid">
        <div class="thumbnails">
            <a class="span4 thumbnail" href="{{ url_for('scale') }}">
                <img src="{{ static('img/scale.png') }}">
                <h4>Scale</h4>
            </a>
            <a class="span4 thumbnail" href="{{ url_for('imeme') }}">
                <img src="{{ static('img/imeme.png') }}">
                <h4>iMeme</h4>
            </a>
            <a class="span4 thumbnail" href="http://www.feednotifier.com/">
                <img src="{{ static('img/feed_notifier.png') }}">
                <h4>Feed Notifier</h4>
            </a>
        </div>
    </div>
    <hr>
    <h3>My Family</h3>
    <div class="row-fluid">
        <div class="thumbnails">
            <div class="span3 thumbnail">
                <img src="{{ static('img/michael2.jpg') }}">
                <h4>Michael</h4>
            </div>
            <div class="span3 thumbnail">
                <img src="{{ static('img/sandra.jpg') }}">
                <h4>Sandra</h4>
            </div>
            <div class="span3 thumbnail">
                <img src="{{ static('img/megan.jpg') }}">
                <h4>Megan</h4>
            </div>
            <div class="span3 thumbnail">
                <img src="{{ static('img/colin.jpg') }}">
                <h4>Colin</h4>
            </div>
        </div>
    </div>
{% endblock %}
