{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}
    <div>
        <p class="lead">
            My name is Michael Fogleman.
            I am a Principal Software Engineer at <a href="http://www.liquid-logic.com/">Advanced Liquid Logic</a>.
            I love programming and am usually busy with one of my many <a href="">personal projects</a>.
            My favorite language is Python, though I also enjoy iOS and OS X development.
            I like gardening, photography, 80's music and space exploration.
        </p>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <div class="span6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
{% endblock %}
