{% extends "base.html" %}

{% block content %}
    <h3>Minecraft</h3>
    <p class="lead" style="text-align: justify;">
        Two separate Minecraft-inspired creations: one in Python using Pyglet and the other in C using "modern" OpenGL shaders. I worked on these projects to learn more about 3-D programming.
    </p>
    <img src="{{ static('img/modern_gl1.png') }}">
    <hr>
    <h3>Features</h3>
    <ul>
        <li>Uses modern GL techniques - no deprecated, fixed-function APIs are used.</li>
        <li>Uses perlin / simplex noise to generate the terrain.</li>
        <li>Uses sqlite3 to save terrain changes made by the user.</li>
        <li>Experimental branch for shadow mapping.</li>
        <li>Python version went "viral" and saw a lot of activity on GitHub.</li>
    </ul>
    <hr>
    <h3>Links</h3>
    <p>These projects are hosted on GitHub...</p>
    <ul>
        <li><a href="https://github.com/fogleman/Minecraft">https://github.com/fogleman/Minecraft</a></li>
        <li><a href="https://github.com/fogleman/Craft">https://github.com/fogleman/Craft</a></li>
    </ul>
{% endblock %}
