{% extends "base.html" %}

{% block content %}
    <div class="projects">
        <h3>Projects</h3>
        <p class="lead" style="text-align: justify;">
            Here are some personal programming projects that I've worked on over the years. Some are very mature and have thousands of users. Others are unpolished projects that I had fun with for just a short time.
        </p>
        <div class="row-fluid" style="margin-bottom: 30px;">
            <div class="thumbnails">
                <a class="span4 thumbnail" href="{{ url_for('scale') }}">
                    <img src="{{ static('img/scale.png') }}">
                    <h4>Scale</h4>
                    <h6>February 2013</h6>
                </a>
                <a class="span4 thumbnail" href="{{ url_for('imeme') }}">
                    <img src="{{ static('img/imeme.png') }}">
                    <h4>iMeme</h4>
                    <h6>November 2011</h6>
                </a>
                <a class="span4 thumbnail" href="http://www.feednotifier.com/">
                    <img src="{{ static('img/feed_notifier.png') }}">
                    <h4>Feed Notifier</h4>
                    <h6>January 2010</h6>
                </a>
            </div>
        </div>
        <div class="row-fluid" style="margin-bottom: 30px;">
            <div class="thumbnails">
                <a class="span4 thumbnail" href="{{ url_for('star_rocket') }}">
                    <img src="{{ static('img/star_rocket.png') }}">
                    <h4>Star Rocket</h4>
                    <h6>November 2010</h6>
                </a>
                <a class="span4 thumbnail" href="{{ url_for('dcpu') }}">
                    <img src="{{ static('img/dcpu.png') }}">
                    <h4>DCPU-16</h4>
                    <h6>April 2012</h6>
                </a>
                <a class="span4 thumbnail" href="{{ url_for('minecraft') }}">
                    <img src="{{ static('img/modern_gl.png') }}">
                    <h4>Minecraft</h4>
                    <h6>January 2012</h6>
                </a>
            </div>
        </div>
        <div class="row-fluid" style="margin-bottom: 30px;">
            <div class="thumbnails">
                <a class="span4 thumbnail" href="{{ url_for('phrases') }}">
                    <img src="{{ static('img/phrases.png') }}">
                    <h4>Random Phrases</h4>
                    <h6>December 2012</h6>
                </a>
                <a class="span4 thumbnail" href="{{ url_for('ricochet') }}">
                    <img src="{{ static('img/ricochet.png') }}">
                    <h4>Ricochet Robot</h4>
                    <h6>September 2011</h6>
                </a>
                <a class="span4 thumbnail" href="{{ url_for('sync') }}">
                    <img src="{{ static('img/sync.png') }}">
                    <h4>Sync</h4>
                    <h6>January 2013</h6>
                </a>
            </div>
        </div>
        <div class="row-fluid" style="margin-bottom: 30px;">
            <div class="thumbnails">
                <a class="span4 thumbnail" href="http://mfogleman.webfactional.com/impostors/">
                    <img src="{{ static('img/word_impostors.png') }}">
                    <h4>Word Impostors</h4>
                    <h6>January 2011</h6>
                </a>
                <a class="span4 thumbnail" href="https://github.com/fogleman/WordWarrior">
                    <img src="{{ static('img/word_warrior.png') }}">
                    <h4>Word Warrior</h4>
                    <h6>August 2006</h6>
                </a>
                <a class="span4 thumbnail" href="https://github.com/fogleman/DrMario">
                    <img src="{{ static('img/dr_mario.png') }}">
                    <h4>Dr. Mario</h4>
                    <h6>October 2009</h6>
                </a>
            </div>
        </div>
        <div class="row-fluid" style="margin-bottom: 30px;">
            <div class="thumbnails">
                <a class="span4 thumbnail" href="http://fogleman.tumblr.com/post/11959143268/procedurally-generating-images-in-the-style-of-piet">
                    <img src="{{ static('img/piet.png') }}">
                    <h4>Piet</h4>
                    <h6>October 2011</h6>
                </a>
                <a class="span4 thumbnail" href="http://mfogleman.webfactional.com/boggle/">
                    <img src="{{ static('img/boggle.png') }}">
                    <h4>Boggle</h4>
                    <h6>September 2011</h6>
                </a>
                <a class="span4 thumbnail" href="https://github.com/fogleman/TextEditor">
                    <img src="{{ static('img/text_editor.png') }}">
                    <h4>Text Editor</h4>
                    <h6>February 2009</h6>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
