{% extends "base.html" %}

{% block content %}
    <h3>Projects</h3>
    <p>Here are some personal software projects I've worked on over the years, in no particular order, with screenshots and videos where appropriate.</p>
    <ul>
        <li><a href="#Scale">Scale</a></li>
        <li><a href="#Random-Phrases">Random Phrases</a></li>
        <li><a href="#Minecraft">Minecraft</a></li>
        <li><a href="#DCPU-16">DCPU-16</a></li>
        <li><a href="#iMeme">iMeme</a></li>
        <li><a href="#Feed-Notifier">Feed Notifier</a></li>
        <li><a href="#Star-Rocket">Star Rocket</a></li>
        <li><a href="#Ricochet-Robot">Ricochet Robot</a></li>
        <li><a href="#Fogles-Fotos">Fogle's Fotos</a></li>
        <li><a href="#Word-Impostors">Word Impostors</a></li>
        <li><a href="#Boggle">Boggle</a></li>
        <li><a href="#Word-Warrior">Word Warrior</a></li>
        <li><a href="#wxSnow">wxSnow</a></li>
        <li><a href="#Dr-Mario">Dr. Mario</a></li>
        <li><a href="#Text-Editor">Text Editor</a></li>
        <li><a href="#Pac-Man">Pac-Man</a></li>
        <li><a href="#Extreme-Blue">Extreme Blue</a></li>
        <li><a href="#Piet">Piet</a></li>
    </ul>
{% endblock %}
