{% extends "base.html" %}

{% block content %}
    <h3>Projects</h3>
    <p class="lead">Here are some personal software projects I've worked on over the years, in no particular order, with screenshots and videos where appropriate.</p>

    <div class="row-fluid">
        <div class="span6" style="text-align: center;">
            <h4>Scale</h4>
            <h4>Random Phrases</h4>
            <h4>Minecraft</h4>
            <h4>DCPU-16</h4>
            <h4>iMeme</h4>
            <h4>Feed Notifier</h4>
            <h4>Star Rocket</h4>
            <h4>Ricochet Robot</h4>
            <h4>Fogle's Fotos</h4>
        </div>
        <div class="span6" style="text-align: center;">
            <h4>Word Impostors</h4>
            <h4>Boggle</h4>
            <h4>Word Warrior</h4>
            <h4>wxSnow</h4>
            <h4>Dr. Mario</h4>
            <h4>Text Editor</h4>
            <h4>Pac-Man</h4>
            <h4>Extreme Blue</h4>
            <h4>Piet</h4>
        </div>
    </div>
{% endblock %}
