{% extends "base.html" %}

{% block content %}
    <h3>Star Rocket</h3>
    <p class="lead" style="text-align: justify;">
        A cartoon-themed space game with over 120 action-packed levels! Navigate your rocket through a universe filled with planets, asteroids, bumpers, teleports and items... collecting all of the stars as you go!
    </p>
    <div class="thumbnail">
        <img src="{{ static('img/star-rocket3.png') }}">
    </div>
    <div style="text-align: center; margin: 20px;">
        <a href="https://itunes.apple.com/us/app/star-rocket/id419027792?mt=8">
            <img src="{{ static('img/app_store.png') }}">
        </a>
    </div>
    <hr>
    <h3>Objectives</h3>
    <ul>
        <li>Collect all of the stars in each level.</li>
        <li>Complete each level as quickly as possible. You will be rewarded 1, 2 or 3 stars for each level, depending on your time.</li>
    </ul>
    <hr>
    <h3>Details</h3>
    <ul>
        <li>Planets exert gravity on your rocket - don't get too close or you won't be able to escape the pull of the gravity!</li>
        <li>Magnets let you attract and collect stars from a greater distance!</li>
        <li>Shields let you plow through and destroy asteroids!</li>
        <li>Flames give you an instant boost in the direction you are pointing.</li>
        <li>Your rocket will bounce off of bumpers. Try it - it's fun (but not always helpful)!</li>
        <li>Teleports instantly transport you to another teleport location.</li>
    </ul>
    <hr>
    <h3>Support</h3>
    <p>Comments, questions or suggestions? Contact me at: <a href="mailto:michael.fogleman@gmail.com">michael.fogleman@gmail.com</a></p>
    <hr>
    <h3>Video Trailer</h3>
    <div class="" style="text-align: center;">
        <iframe title="YouTube video player" width="600" height="365" src="http://www.youtube.com/embed/xcOwKvCPAGE" frameborder="0" allowfullscreen></iframe>
    </div>
    <hr>
    <h3>Screenshots</h3>
    <div class="row-fluid">
        <ul class="thumbnails">
            <li class="span6 thumbnail">
                <img src="{{ static('img/star-rocket1.png') }}"></a>
            </li>
            <li class="span6 thumbnail">
                <img src="{{ static('img/star-rocket2.png') }}"></a>
            </li>
        </ul>
    </div>
    <div class="row-fluid">
        <ul class="thumbnails">
            <li class="span6 thumbnail">
                <img src="{{ static('img/star-rocket4.png') }}"></a>
            </li>
            <li class="span6 thumbnail">
                <img src="{{ static('img/star-rocket5.png') }}"></a>
            </li>
        </ul>
    </div>
{% endblock %}
