body {
    padding-top: 20px;
    padding-bottom: 40px;
}

p {
    line-height: 24px;
}

li {
    line-height: 24px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 20px 0;
}

.footer {
    text-align: center;
}

.projects li {
    text-align: center;
}
