body {
    padding-top: 20px;
    padding-bottom: 40px;
}

p {
    line-height: 24px;
}

li {
    line-height: 24px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 20px 0;
}

.footer {
    text-align: center;
}

.thumbnails {
    text-align: center;
}

.thumbnails a {
    color: #333;
}

.thumbnails a:hover {
    text-decoration: none;
}

.projects h4 {
    margin-bottom: 0;
}

.projects h6 {
    margin-top: 0;
}

/* phrases */
.button-row {
    text-align: center;
    margin: 1em;
}

.words-row {
    text-align: center;
    text-transform: capitalize;
}
